header p{
	color: white;
	font-size: 20px;
}

h1{
	color: white;
	font-size: 36px;
}

li {
	margin-bottom: 8px;
}

ul {
	background-color: #F7F9FC;
    margin-top: 25px;
    padding: 30px 55px;
    border-radius: 8px;
}

header{
	background-color: #F0F8FF;
    background-image: url("../img/dog-header.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 140px 0 100px;
}

.first-section{
	background-color: white;
}

.section{
	padding: 60px 0 40px;
}

body{
	color: #4a4a4a;
}

.first-section img {
	margin-bottom: 35px;
}

@media (min-width: 768px) {
	.first-section img {
		margin-bottom: 20px;
	}
}

@media (min-width: 992px) {
	.first-section img {
		margin-bottom: 0;
	}
}

@media (min-width: 576px){
	h1 {
		font-size: 48px;
	}
}

@media (min-width: 576px;) {
	.section {
		padding: 100px 0;
	}
}

@media (min-width: 576px) {
	header {
		padding: 200px 0;
	}
}

.second-section {
	background-color: #FBFBFB;
}

.second-section p {
	color: #9DA2A6;
}

.second-section img {
	height: 75px;
	margin: 25px 0 10px;
	width: 75px;
}

.nav-item{
	margin: 10px 16px;
}

.navbar-brand img {
	height: 46px;
	margin-right: 8px;
	width: 46px;
}

.third-section {
	background-color: white;
}

.third-section img {
	margin-top: 35px;
}

@media (min-width: 768px) {
	.third-section img{
		margin-top: 0;
	}
}

.fourth-section {
	background-color: #F0F8FF;
	background-image: url("../img/dogs-pattern.png");
	background-repeat: repeat;
	background-size: 192px 192px;
}

footer {
	background-color: white;
	padding: 35px 0;
}

.footer-logo {
	height: 22px;
	margin-bottom: 3px;
	width: 22px;
}